<div class="sidenav">
    <a routerLink="NameSpace">NameSpace</a>
    <a routerLink="StorageClass">StorageClass </a>
    <a href="Service">Service </a>
    <a href="Deployment">Deployment</a>
    <a href="#pod">Pod</a>
    <a href="#HPA">HPA</a>
    <a href="#ConfigMap">ConfigMap</a>
    <a href="#Secret">Secret</a>
    <a href="#PersistentVolume">PersistentVolume</a>
    <a href="#PersistentVolumeClaim">PersistentVolumeClaim</a>
    <a href="Ingress">Ingress</a>
</div>
<router-outlet></router-outlet>

