.header {
  position: fixed;
  background-image: url;
  height: 500px;
  background-position: center center;
  
}
.c{
    position: fixed;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
}

.z{
    position: fixed;
    top:10px;
    right:10px;

}
*{
  color: azure;
}
 #nav{
  position: fixed;
  margin-top: 0;
  height: 40px;
  width: 100%;
 }

